<!-- views/layouts/partials/sidebar.ejs -->
<div id="sidebar-wrapper" class="border-end bg-light">
    <div class="sidebar-heading p-3">
      <h5>Welcome, <%= user ? user.username : 'Guest' %></h5>
    </div>
    <div class="list-group list-group-flush">
      <a href="/profile" class="list-group-item bg-light">My Profile</a>
      <a href="/" class="list-group-item list-group-item-action bg-light">Dashboard</a>
  
      <!-- Logout/Login -->
      <% if (user) { %>
        <a href="/auth/logout" class="list-group-item bg-light">Logout</a>
      <% } else { %>
        <a href="/auth/login" class="list-group-item bg-light">Login</a>
      <% } %>
    </div>
  </div>
  